@charset "UTF-8";
/* CSS Document */

#{
	margin: 0;
 	padding: 0;
  	border: 0;
}

#tw{
	width:400px;
	height:auto;
	float:left;
	background-color:#FCC;
}

#fb-root{
	width:400px;
	height:auto;
	float:left;
	background-color:#F9F;
}
